<app-header></app-header>
<app-sidebar></app-sidebar><br>
<br>
<br>
<br>
<br>
<br>
<br>
<table class = "table table-striped" style="margin-left: 310px">
    <thead>
    <tr>
        <th> cardId</th>
        <th> pack-name </th>

        <th> value </th>
        <th> image </th>

        <th> Actions </th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let card of cards" >
        <td> {{ card.cardId }} </td>
        <td> {{ card.pack.packName }} </td>
        <td> {{ card.value }} </td>
        <td>  <img src="./assets/img/{{ card.image }}"  style="height: 100px; width: 100px">
        </td>

        <td>
            <button (click) = "onEdit(card.cardId)" class = "btn btn-info"> Update</button>
            <button (click) = "onDelete(card.cardId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<app-footer></app-footer>
