/* Add this CSS to your existing styles.css file */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px; /* Adjust the width of the sidebar as needed */
    height: 100%;
    z-index: 1032; /* Increase the z-index value */
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .main-content {
    margin-left: 260px; /* Adjust the margin to match the width of the sidebar */
    transition: margin-left 0.3s ease;
    z-index: 0; /* Ensure the main content stays behind the sidebar */
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .main-content.active {
    margin-left: 0;
  }
  